.header {
  width: 30rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100vh;
  background-color:  #f5f6f7;
  z-index: 9;

  display: none;

  @include desktop {
    display: block;
    width: 45em;

  }
  // border: 1px solid red;
  


  &__avater {
    display: block;
    // margin-bottom: 4rem;

    &:focus {
      outline: 0 !important;
      outline-style: none;
    }


    &--img {
      display: block;
      width: 12rem;
      border-radius: 50%;
      border: 3px solid #bfb7a6;
      margin: 1rem auto;

    }

    &--text {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
        0px -4px 10px rgba(255,255,255,0.3);


      @include tab-port {
        font-size: 2rem;
        letter-spacing: 1.2px;
      }
    }
  }
}





