.nav {
  ul {
    list-style-type: none;
  }

  &__item {
    border-radius: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transform: translate3d(-20rem, 0, 0);
    @include easeOut;

    @include desktop {
      transform: translate3d(0, 0, 0);
    }

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
    // animate and show nav items on hamburger menu click
    &.show-navItems {
      transform: translate3d(0, 0, 0);
    }

    &.selected a {
      color: #2098d1;
    }
    &.selected svg {
      fill: #000;
    }
  }

  &__link {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 0.3rem;
    transition: color 300ms ease-in-out;

    // border: 1px solid #000;

    @include tab-port {
      font-size: 1.8rem;
    }

    &:active {
      color: #fff;
      border-color: #fff;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    }

    &:hover {
      color: #2098d1;
    }

    &:hover svg {
      fill: #000;
    }
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 1.2rem 0 30%;
    fill: #2098d1;
    transition: fill 300ms ease-in-out;
  }
}
