.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // border: 1px solid #000;

  @include phone-land {
    max-width: 540px;
  }
  @include tab-port {
    max-width: 720px;
  }
  @include tab-land {
    max-width: 960px;
  }
  @include desktop {
    max-width: 1140px;
  }

  // border: 1px solid red;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;

  // border: 1px dotted blue;
}

/////// MOBILE FIRST STYLES 

.col, .col-md-6, .col-lg-4, .col-lg-8, .col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  // border: 1px solid red;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}







///////RESPONSIVE GRID 

@include tab-port {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}


@include tab-land { 
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

}