.section-title {
  & h3 {
    font-weight: 500;
    color: #2098D1;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    position: relative;
    width: max-content;

    @include tab-land {
      font-size: 2rem;
    }

    &::after  {
      content: "";
      display: block;
      height: 2px;
      width: 80%;
      background-color: rgba(#000, .7);
      position: absolute;
      left: 0;
      bottom: 1px;
    }
  }
}