*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-synthesis: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
  line-height: 1.65;
  // background: lightgray;

}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}