$color-black: #000;
$color-blue: blue;
$color-firefly: #09172A;









//////////////////////=======Debug borders ========///////////
$dbugb-1sr: 1px solid red;
$dbugb-2sb: 2px solid #000;
$dbugb-1dtb:  1px dotted #000;
$dbugb-2sbl: 2px solid blue;
$dbugb-2dtbl: 2px dotted blue;

$dbugbck-1: tomato;
$dbugbck-2: turquoise;