.main {  // test 
  font-size: 1.6rem;

  // border: 1px dotted blue;
  @include desktop {
    margin-left: 45rem;
    font-size: 2rem;


  }

  & > section {
    margin-bottom: 2rem;
    // border: 1px dashed #000;
  }
}