.main {
  // test
  font-size: 1.6rem;
  text-align: left;
  // margin-left: 30rem;

  @include desktop {
    margin-left: 30rem;
    font-size: 2rem;
  }

  & section {
    padding: 3rem 0;
    overflow: hidden;
  }
}
